<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <!--this is a place for us to add side-nav code-->
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <app-nav-bar (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav #sidenav role="navigation">
  <app-side-nav-bar (sidenavClose)="sidenav.close()"></app-side-nav-bar>
</mat-sidenav>
